.mamba-tgmsd/
.conda-tgmsd/
.venv-tgmsd/

logs/
ChEBI-20_data/

sdvae/dropbox/

tgm-dlm/checkpoints/
tgm-dlm/correction_checkpoints/
tgm-dlm/checkpoints_sdvae_latent_chebi/
tgm-dlm/checkpoints_sdvae_latent_crossattn/
tgm-dlm/scibert/pytorch_model.bin

__pycache__/
*.pyc
*.pyo
*.pyd

*.pt
*.ckpt
*.log
*.tmp

